// BLOCKS
.icon {
  display: inline-block;
  opacity: 0.5;
  transition: 0.4s;
  margin-right: 20px;
  &:nth-child(1){
    max-width: 41px;
  }
  &:nth-child(2){
    max-width: 28px;
  }
  &:nth-child(3){
    max-width: 35px;
  }
  &:nth-child(4){
    max-width: 33px;
  }
  &:nth-child(5){
    max-width: 41px;
  }
  &:nth-child(6){
    max-width: 28px;
  }
  &:nth-child(7){
    max-width: 35px;
  }
  &:nth-child(8){
    max-width: 33px;
  }
  @media (max-width: $S) {
    margin-right: 10px;
    max-width: 26px;
    &:nth-child(1){
      max-width: 26px;
    }
    &:nth-child(2){
      max-width: 17px;
    }
    &:nth-child(3){
      max-width: 21px;
    }
    &:nth-child(4){
      max-width: 20px;
    }
    &:nth-child(5){
      max-width: 26px;
    }
    &:nth-child(6){
      max-width: 17px;
    }
    &:nth-child(7){
      max-width: 21px;
    }
    &:nth-child(8){
      max-width: 20px;
    }
  }
  &:hover{
    opacity: 1;
  }
}
.icon__image {
  display: block;
  max-width: 100%;
  max-height: 100%;
}
.btn {
  padding: 18px 50px;
  border-radius: 34px;
  transition: 0.4s;
  font-size: 18px;
  &:hover{
    cursor: pointer;
  }
  @media (max-width: $XS) {
    font-size: 12px;
    padding: 8px 15px;
  }
  @media (max-width: $S) {
    font-size: 14px;
    padding: 10px 20px;
  }
  @media (max-width: $M) {
    font-size: 16px;
    padding: 12px 25px;
  }
}
// BLOCKS END